.ts-error {
  margin:0px;
  padding:0px;
  color:#222;
  font:normal 13px/20px Arial,sans-serif;
  }

 a,
.ts-error a {
  color:#489;
  text-decoration:none;
  }

 small { font-size:11px; }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 { font-size:16px; }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p { margin:0px 0px 10px; }

/* ### General control styles ### */
 .close,
 .share,
 .zoomer,
 .wax-legend,
 .wax-tooltip,
 .wax-share div,
 .wax-share .twitter,
 .wax-share .facebook {
  display:block;
  position:absolute;
  border:1px solid #ccc;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  }

/* ### Tooltips, legends ### */
 .wax-legends,
 .wax-tooltip {
  position:absolute;
  z-index:999998;
  right:10px;
  }

 .wax-legends { bottom:10px; }
 .wax-tooltip { top:10px; }

 .wax-legend,
 .wax-tooltip {
  padding:4px 9px;
  min-width:180px;
  max-width:280px;
  max-height:400px;
  overflow:auto;
  width:220px\9; /* IE 8 and below */
  }

 .wax-legend { position:relative; }

/* ### Zoomer, close buttons, share ### */
 .close,
 .zoomer {
  text-indent:-9999px;
  background-image:url(/assets/tilestream-pro/images/controls.png);
  background-position:60px 60px;
  background-repeat:no-repeat;
  overflow:hidden;
  }

 .close:active,
 .zoomer:active {
  border-color:#bbb;
  background-color:#ddd;
  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  }

 .close {
  top:4px;
  right:4px;
  width:18px;
  height:18px;
  background-position:-6px -6px;
  }

 .zoomer {
  width:28px;
  height:28px;
  top:10px;
  left:10px;
  z-index: 2;
  }

 .zoomin {
  background-position:-31px -1px;
  left:39px;
  border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  }

 .zoomout {
  background-position:-61px -1px;
  border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-radius:3px 0px 0px 3px;
  }

 .share {
  clear:left;
  left:10px;
  top:10px;
  width:57px;
  height:18px;
  font:bold 10px/18px Arial,sans-serif;
  text-align:center;
  text-transform:uppercase;
  background:#333;
  background:rgba(32,32,32,0.75);
  border-color:#666;
  border-color:rgba(128,128,128,0.75);
  color:#fff;
  }

.zoompan .share { top:45px; }

/* ### Zoombox ### */
 .zoombox-box,
 .boxselector-box {
  border:1px dashed #888;
  background:rgba(255,255,255,0.25);
  position:absolute;
  top:0px; left:0px; width:0px; height:0px;
  display:none;
  z-index: 10;
  }

/* ### Attribution ### */
 .wax-attribution {
  position:absolute;
  background:#fff;
  font:normal 10px/20px Arial,sans-serif;
  z-index:99999;
  text-align:center;
  padding:0px 5px;
  bottom:0px;
  left:0px;
  }

 .wax-attribution.wax-g {
  left:65px;
  bottom:4px;
  background:transparent;
  }

/* ### Share ### */
.ts-error,
 .wax-share {
  background:#666;
  background:rgba(32,32,32,0.75);
  position:absolute;
  width:100%;
  height:100%;
  top:0px; left:0px; right:0px; bottom:0px;
  z-index:999999;
  }

 .wax-share div {
  right:50%;
  top:50%;
  margin:-120px -180px 0px 0px;
  padding:19px;
  width:320px;
  height:200px;
  overflow:hidden;
  }

 .wax-share small { color:#999; }

 .wax-share textarea {
  display:block;
  font:normal 10px/15px Arial,sans-serif;
  resize:none;
  border:1px solid #ccc;
  padding:4px;
  width:310px;
  }

 .wax-share .twitter,
 .wax-share .facebook {
  display:inline-block;
  position:relative;
  padding:2px 18px;
  margin-right:10px;
  background:#fff;
  color:#fff;
  font-weight:bold;
  border:2px solid #ccc;
  }

 .wax-share .twitter {
  background:#0ac;
  border-color:#4ce;
  }

 .wax-share .facebook {
  background:#359;
  border-color:#68c;
  }

/* ### Google maps adjustments ### */
.g .share {
  position:absolute;
  left:5px;
  top:5px;
  z-index:1000;
  }

.g.zoompan .share { left:30px; top:15px; }

/* ### Error message ### */
.ts-error .error-message {
  background:#fff;
  position:absolute;
  right:50%;
  top:50%;
  margin:-50px -110px 0px 0px;
  padding:10px 0px;
  height:80px;
  width:220px;
  color:#999;
  text-align:center;
  font-weight:bold;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow:#fff 0px 0px 40px;
  -moz-box-shadow:#fff 0px 0px 40px;
  -webkit-box-shadow:#fff 0px 0px 40px;
  }

.ts-error .mapbox-logo {
  display:block;
  width:140px;
  height:40px;
  margin:5px auto;
  background:url(/assets/tilestream-pro/images/controls.png) 0px -40px no-repeat;
  }

 .mapbox-watermark {
  position:absolute;
  left:5px;
  bottom:5px;
  z-index:99999;
  display:block;
  width:65px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(/assets/tilestream-pro/images/controls.png) 0px -90px no-repeat;
  }

.attribution .mapbox-watermark { bottom:25px; }

/* Override image location */
 .zoomer,
 .close,
 .mapbox-watermark,
.ts-error .mapbox-logo { background-image:url(img/map.png); }
