/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  outline-color: #41a900;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body {
  line-height:1;
  }
ol, ul {
  list-style:none;
  }
blockquote, q {
  quotes:none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
  }
table {
  border-collapse:collapse;
  border-spacing:0;
  }

/* Typography */
body,
input,
textarea {
  font:13px/16px helvetica, arial, clean, sans-serif;
  -webkit-font-smoothing:antialiased;
  color: white;
  outline-color: #41a900;
  }
pre,
code { font:normal 12px/20px monospace; }
h1, h2, h3, h4, h5, h6 {
  font-weight:700;
  }
h1 {
  line-height:1.75em;
  font-size:1.5em;
  }
h2 {
  line-height:1.5em;
  font-size:1.25em;
  }
a {
  color:#369;
  text-decoration:none;
  }

/* Layout */
body > div {
  position:relative;
  z-index:1;
  }
.map {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
  background: #e8fdda;
  }
#header {
  position:absolute;
  top:0;
  right:0;
  left:0;
  height:29px;
  background:rgb(0,0,0);
  background:rgba(0,0,0, 0.9);
  border-bottom:1px solid #ccc;
  overflow:hidden;
  padding:10px 0;
  z-index:2;
  }
#header img {
  display:block;
  float:left;
  margin:-13px 20px 0 0;
  top:50%;
  position:relative;
  }
#header h1 {
  display:block;
  float:left;
  line-height:30px;
  margin:0;
  }
#header .limiter {
  width:920px;
  margin:0px auto;
  position:relative;
  height:100%;
  }
#content {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:329px;
  background:rgb(0,0,0);
  background:rgba(0,0,0, 0.75);
  overflow-x:hidden;
  overflow-y:auto;
  padding:20px;
  padding-bottom: 0;
  }
.layers a {
  display:block;
  padding:5px;
  margin:5px 0;
  background:#eee;
  max-width:300px;
  }
.layers a:hover, .layers a:focus, .layers a.active {
  background:#369;
  color:white;
  }
p {
  margin-bottom:1em;
  }
label {
  font-weight:700;
  }
#about p {
  font-size:20px;
  line-height:30px;
  display:block;
  }
#search {
  position: absolute;
  top: 10px;
  left: 379px;
  width: 231px;
  }
form.geocode input[type=text] {
  height:28px;
  display:block;
  border:1px solid  black;
  float:left;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.75);
  padding: 0 5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }
form.geocode input[type=submit] {
  background:url(img/map_rev.png) no-repeat -121px -1px;
  text-indent:-9999px;
  width:30px;
  height:30px;
  display:block;
  border: black 1px solid;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.75);
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  margin:0 0 0 3px;
  padding:11px;
  float:left;
  }
form.geocode input[type=submit]:active {
  border-color:black;
  background-color: rgb(50,50,50);
  background-color: rgba(50,50,50, 0.75);
  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  }
form.geocode.loading input[type=submit] {
  background:url(img/ajax-loader_rev.gif) no-repeat 50% 50%;
  border-color:black;
  background-color: #646464;
  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  }
#geocode-error {
  display:none;
  position: absolute;
  top: 35px;
  clear: both;
  color: white;
  font-size: 11px;
  right: 15px;
  text-align: right;
  background: red;
  width: auto;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  }
a.zoomer {
  top:10px;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0, 0.75);
  background-image: url(img/map_rev.png);
  border-color: black;
  }
.zoomer:active {
  border-color:black;
  background-color:rgb(50,50,50);
  background-color:rgba(50,50,50, 0.75);
  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  }
.wax-attribution {
  background: url(img/map_rev.png) no-repeat 0px -90px;
  color: #333;
  padding-left: 75px;
  padding-top: 2px;
  }
.wax-attribution a {
  color: #333;
  text-shadow: 1px 1px 5px silver;
  }
.wax-tooltip {
  left:auto;
  right:330px;
  top:60px;
  }
.wax-legends {
  left:auto;
  right:330px;
  width:290px;
  }
.wax-share h3 {
  margin:0px 0px 10px;
  font-size:16px;
  font-weight:normal;
  }
.wax-share strong {
  font-weight:700;
  }
.wax-share small {
  font-size:11px;
  color:#999;
  display:block;
  margin-top:0.5em;
  }
.share {
  top:95px;
  z-index:1000;
  }
.mmg-default {
  width: 20px;
  height: 40px;
  background: url(img/map_rev.png) -120px -30px;
  left: -10px;
  top: -30px;
  }
.mmg {
  width: 30px;
  height: 70px;
  top: -35px;
  left: -15px;
  z-index: 3;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  }
.mmg:hover, .mmg.active {
  overflow: visible;
  }
.mmg {
  background: url(http://a.tiles.mapbox.com/v3/marker/pin-m+fff.png) no-repeat center center;
  }
.mmg:after {
  background: url(http://a.tiles.mapbox.com/v3/marker/pin-m+41a900.png) no-repeat center center;
  content: ' ';
  position: absolute;
  width: 26px;
  height: 66px;
  top: -1px;
  left: 2px;
  background-size: 100%;
  }
.mmg .overlay {
  width: 148px;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  border-radius: 3px;
  color: #333;
  position: absolute;
  bottom: 80px;
  left: -70px;
  visibility: hidden;
  opacity: 0;
  border: 2px solid #41a900;
  background: white;
  z-index: 2;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  cursor: auto;
  }
.mmg.active .overlay {
  background: #41a900;
  }
.mmg.active .overlay:after {
  border-top-color: #41a900;
  }
.mmg .location .name {
  display: block;
  color: #41a900;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  }
.mmg .foursquare {
  float: left;
  width: 100%;
  }
.mmg .foursquare > div:first-child {
  margin: 0 auto;
  }
.mmg .foursquare .users, .mmg .foursquare .checkins {
  width: 50%;
  float: left;
  text-align: center;
  }
.mmg .foursquare .number, .mmg .foursquare .label {
  color: white;
  text-align: center;
  display: block;
  }
.mmg .foursquare .number {
  font-size: 26px;
  margin: 15px 0 5px 0;
  }
.mmg .foursquare, .mmg.active .location {
  visibility: hidden;
  height: 0;
  }
.mmg.active .foursquare, .mmg .location {
  visibility: visible;
  height: auto;
  }
.mmg .overlay:after, .mmg .overlay:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  }
.mmg .overlay:after {
  border-top-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  }
.mmg .overlay:before {
  border-top-color: #41a900;
  border-width: 13px;
  left: 50%;
  margin-left: -13px;
  }
.mmg .user, .mmg .time {
  color: #333;
  position: absolute;
  margin-top: 5px;
  font-size: 11px;
  }
.mmg .user {
  left: 10px;
  }
.mmg .time {
  right: 10px;
  }
.mmg:hover .overlay, .mmg.active .overlay {
  visibility: visible;
  opacity: 1;
  }
.mmg:hover {
  z-index: 10;
  }
.mmg.active {
  z-index: 9;
  }
.mmg .cross-street {
  display: block;
  color: #999;
  margin-bottom: 1em;
  }
.mmg .city-state {
  display: block;
  font-size: 0.8em;
  }

/* Modes */
/* Left */
.left #header .limiter {
  width:480px;
  }
.left #content {
  left:0;
  right:auto;
  border-left:none;
  }
.left .wax-attribution {
  left: 379px;
  bottom: 2px;
  }
.left a.zoomin {
  right:10px;
  left: auto;
  }
.left a.zoomout {
  right:39px;
  left: auto;
  }
.left .share {
  left:330px;
  z-index:2;
  }
.left .wax-tooltip {
  right:10px;
  }
.left .wax-legends {
  right:10px;
  }

/* Hero */
.hero .map {
  top:50px;
  bottom:auto;
  height:400px;
  }
.hero #content {
  top:450px;
  left:0;
  right:0;
  bottom:auto;
  border-left:none;
  border-right:none;
  border-top:1px solid #ccc;
  width:auto;
  }
.hero #content .limiter {
  width:920px;
  margin:0px auto;
  position:relative;
  }
.hero a.zoomer {
  top:10px;
  }
.hero .wax-tooltip {
  top:10px;
  right:10px;
  }
.hero .wax-legends {
  right:10px;
  }
.hero .share {
  top:45px;
  }
.hero .layers {
  height:36px;
  }
.hero .layer {
  width:200px;
  float:left;
  margin-right:20px;
  text-align:center;
  }

/* embed */
.embed .map {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:white;
  z-index:1000;
  }
.embed #header, .embed #content {
  position:absolute;
  top:0;
  left:0;
  z-index:10001;
  visibility:hidden;
  overflow:hidden;
  }
.embed a.zoomer {
  top:10px;
  }
.embed .wax-tooltip {
  top:10px;
  right:10px;
  }
.embed .wax-legends {
  right:10px;
  }
.embed .share {
  top:45px;
  }
.embed .layers {
  position:absolute;
  top:90px;
  left:0;
  z-index:1001;
  visibility:visible;
  }
.embed .layer {
  width:100px;
  text-align:center;
  border:1px solid #ccc;
  }
#layout {
  z-index:10;
  position:absolute;
  top:10px;
  right:10px;
  }
#layout a {
  margin-left:10px;
  }

/* Animation */
.map-tile-loaded {
  -webkit-animation-name:fade-in;
  -moz-animation-name:fade-in;
  -ms-animation-name:fade-in;
  -o-animation-name:fade-in;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  -ms-animation-timing-function:linear;
  -o-animation-timing-function:linear;
  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  -ms-animation-duration:0.2s;
  -o-animation-duration:0.2s;
 }

@-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fade-in { from { opacity:0; } to { opacity:1; } }

/* #Content */
#content a {
  color: white;
  text-decoration: underline;
  }
h2 {
  margin-bottom: 1em;
  }
h3 {
  clear: both;
  float: left;
  }
.venue {
  position: relative;
  clear: both;
  float: left;
  left: 35px;
  top: -21px;
  right: 0;
  width: 284px;
  padding: 5px;
  }
.venue.active {
  background: #41a900;
  }
#content .location {
  position: relative;
  left: 0;
  width: 177px;
  float: left;
  }
#content .location em {
  font-style: italic;
  }
#content .phone {
  position: relative;
  left: 20px;
  float: left;
  }
.hidden {
  display: none;
  }
a#showall {
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(img/map_rev.png) no-repeat 86px -2px;
  padding: 5px 10px;
  background-color: black;
  padding-right: 30px;
  border-radius: 5px;
  text-decoration: none;
  }
#no-venues {
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  padding: 20px;
  }
#no-venues strong {
  color: #41a900;
  font-weight: bold;
  }
#fsq-attribution {
  position: absolute;
  right: 0;
  bottom: 5px;
  height: 15px;
  }